<div class="card">
    <div class="card-body">
        <h1>Abouyt</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda dignissimos dolore laboriosam laborum molestias odit perferendis, repellendus. Amet delectus ducimus eligendi ipsam laudantium neque non, odio, rem repellat sed, totam.</p>
    </div>
</div>