<div class="jumbotron mt-4">
    <h1 class="display-4">Note app Nodes and mongo db</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor enim iure pariatur, quia quo sapiente veritatis. Deserunt, earum quae. Accusantium at doloremque est, nesciunt nostrum quidem quis sequi ullam velit?</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda at blanditiis corporis, cupiditate</p>
    <a href="https://google.com" class="btn btn-primary btn-lg">goole</a>
</div>